<template>
  <div>
    <h2 class="my-5">Companies</h2>
    <companies-list class="my-5"></companies-list>
    <company-form class="my-5"></company-form>
  </div>
</template>

<script>
  import CompaniesList from '../components/companies-list';
  import CompanyForm from '../components/company-form';

  export default {
    name: 'Companies',

    components: {
      CompanyForm,
      CompaniesList,
    },
  };
</script>
