<template>
  <b-form @submit.prevent="onSubmit" @reset.prevent="onReset" v-if="show">
    <b-form-group id="company-name-group"
                  horizontal
                  label="Company Name"
                  label-for="company-name">
      <b-form-input id="company-name"
                    v-model="form.name"
                    required/>
    </b-form-group>

    <b-form-group id="company-email-group"
                  horizontal
                  label="Email"
                  label-for="company-email">
      <b-form-input id="company-email"
                    type="email"
                    v-model="form.email"
                    required/>
    </b-form-group>

    <b-form-group id="company-role-group"
                  horizontal
                  label="Role"
                  label-for="company-role">
      <b-form-select id="company-role"
                     :options="roles"
                     v-model="form.role"
                     required/>
    </b-form-group>

    <b-form-group horizontal class="mt-5 text-center">
      <b-button type="submit" variant="primary">Add company</b-button>
      <b-button type="reset" variant="secondary">Clear form</b-button>
    </b-form-group>
  </b-form>
</template>

<script>
  import { mapActions } from 'vuex';
  import 'bootstrap-vue/es/components/form-input/form-input.css';
  import bForm from 'bootstrap-vue/es/components/form/form';
  import bFormGroup from 'bootstrap-vue/es/components/form-group/form-group';
  import bFormInput from 'bootstrap-vue/es/components/form-input/form-input';
  import bFormSelect from 'bootstrap-vue/es/components/form-select/form-select';
  import bButton from 'bootstrap-vue/es/components/button/button';

  export default {
    name: 'company-form',

    data () {
      return {
        form: {
          name:  '',
          email: '',
          role:  null,
        },

        show: true,

        roles: [
          { value: 'developer', text: 'Developer' },
          { value: 'leader', text: 'Leader' },
          { value: 'head', text: 'Head' },
        ],
      };
    },

    methods: {
      ...mapActions('companies', ['addCompany']),

      onSubmit () {
        this.addCompany(this.form);
      },

      onReset () {
        this.form = {
          name:  '',
          email: '',
          role:  null,
        };

        this.show = false;
        this.$nextTick(() => {
          this.show = true;
        });
      },
    },

    components: {
      bForm,
      bFormGroup,
      bFormInput,
      bFormSelect,
      bButton,
    },
  };
</script>
