<template>
  <div>
    <b-table striped hover :items="companies" v-if="companies.length"></b-table>
    <b-alert variant="warning" v-else show>No data yet. Be first to add a company!</b-alert>
  </div>
</template>

<script>
  import { mapState } from 'vuex';
  import bTable from 'bootstrap-vue/es/components/table/table';
  import bAlert from 'bootstrap-vue/es/components/alert/alert';

  export default {
    name: 'companies-list',

    computed: {
      ...mapState('companies', ['companies']),
    },

    components: {
      bTable,
      bAlert,
    },
  };
</script>
