.slide-enter-active {
  transition: all 1s ease;
}
.slide-leave-active {
  transition: all .3s ease;
}
.slide-enter, .slide-leave-to {
  transform: translate(0, 50px) !important;
  opacity: 0;
}
.slide-enter-to, .slide-leave {
  transform: translate(0, 0);
  opacity: 1;
}
