<template>
  <div id="app">
    <b-navbar type="dark" variant="dark" toggleable="md" sticky>
      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
      <b-navbar-brand href="#">5andhalf test</b-navbar-brand>
      <b-collapse is-nav id="nav-collapse">
        <b-navbar-nav>
          <b-nav-item v-for="item in navigation"
                      :key="item.name"
                      v-bind="navParams(item)">
            {{ item.name }}
          </b-nav-item>
        </b-navbar-nav>
        <b-navbar-nav class="ml-auto">
          <b-nav-text class="d-none d-md-inline-block">Hello user!</b-nav-text>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>

    <div class="container">
      <transition name="slide" mode="out-in">
        <router-view></router-view>
      </transition>
    </div>

    <b-navbar type="light" variant="faded" fixed="bottom">
      <b-navbar-nav>
        <b-nav-text class="text-center">(C) 5andhalf 2018</b-nav-text>
      </b-navbar-nav>
    </b-navbar>
  </div>
</template>

<script>
  import bNavbar from 'bootstrap-vue/es/components/navbar/navbar';
  import bNavbarToggle from 'bootstrap-vue/es/components/navbar/navbar-toggle';
  import bNavbarBrand from 'bootstrap-vue/es/components/navbar/navbar-brand';
  import bCollapse from 'bootstrap-vue/es/components/collapse/collapse';
  import bNavbarNav from 'bootstrap-vue/es/components/navbar/navbar-nav';
  import bNavText from 'bootstrap-vue/es/components/nav/nav-text';
  import bNavItem from 'bootstrap-vue/es/components/nav/nav-item';

  export default {
    name: 'app',

    data () {
      return {
        navigation: [
          { name: 'Home' },
          { name: 'Companies' },
        ],
      };
    },

    methods: {
      navParams (item) {
        return {
          to:     { name: item.name },
          active: this.$route.name === item.name,
        };
      },
    },

    components: {
      bNavbar,
      bNavbarToggle,
      bNavbarBrand,
      bCollapse,
      bNavbarNav,
      bNavText,
      bNavItem,
    },
  };
</script>

<style scoped>
  #app > .container {
    margin-top: 60px;
  }
</style>
